@use '../util' as u;

.large-button {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-family: var(--f-bellefair-regular);
  font-weight: 400;
  font-size: u.rem(32);
  line-height: 1.15;
  letter-spacing: 2px;
  color: var(--clr-dark);
  background-color: var(--clr-white);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: u.rem(120) u.rem(65);
  border-radius: 50%;
}


.large-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, .15);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::before,
.large-button:focus::before {
  transform: scale(1.5);
  opacity: 1;
}